<!DOCTYPE html>
<html ng-app="liveScores">
<head>
    <title>365Scores Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/365scores.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="overlay"></div>
<div class="header">
    <div class="logo-wrapper">
        <a href="index.html"><img src="images/logo.png" alt="365Scores"></a>
    </div>
    <a href="#" class="prevent open-menu visible-xs">
            <span></span>
            <span></span>
            <span></span>
    </a>
</div>
<div class="sidebar">
    <ul>
        <li class="current"><a href="">Scores</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Transfers</a></li>
        <li><a href="">Highlights</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">My Profile</a></li>
    </ul>

</div>
<div class="main-section" ng-controller="liveScoreController" ng-cloak>
{{errorMessage}}
    <!-- Sunday, 27 March -->
    
    <div class="main-content-wrapper">
    <div class="centered-box">
        <div class="day-grouping">
            Today
        </div>
    </div>
    <div class="scores-box" ng-repeat="comp in competitions track by $index">
        <div class="scores-box-header">
            <img ng-src="http://imagescache.365scores.com/image/upload/w_140,h_140,c_limit,f_webp,q_90,d_Countries:Round:default.png/Countries/Round/{{comp.img}}" width="30" height="20">
            <h3>{{comp.name}}</h3>
        </div>
        <div class="scores-box-row clearfix" ng-if="games.Comp == comp.CID" ng-repeat="games in games track by $index">
            <div class="logo1">
                <img ng-src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{games.Comps[0].ID}}">
            </div>
            <div class="side1">
                {{games.Comps[0].Name}}
            </div>
            <div class="status-wrapper status-past">
               <div class="extra" ng-if="games.Active !== false && games.GT < 46">First Half</div>
                <div class="extra" ng-if="games.Active !== false && games.GT > 45">Second Half</div>
                <div class="score">
                   <span ng-if="games.Active === false">{{games.Scrs[0]}} - {{games.Scrs[1]}}</span>
                   <span ng-if="games.Active === true">{{games.Scrs[0]}} - {{games.Scrs[1]}}</span>
                   <span ng-if="games.Active == false && games.GT == -1">{{games.Time}}</span>
                </div>
                <span class="status" ng-if="games.Active === false && games.GT == 90">Finished</span>
                <span class="live" ng-if="games.Active === true">LIVE - '{{games.GT}}</span>
            </div>
            <div class="side2">
               {{games.Comps[1].Name}}

            </div>
            <div class="logo2">
                <img ng-src="http://imagescache.365scores.com/image/upload/w_48,h_48,c_limit,f_webp,q_90,d_Competitors:default1.png/Competitors/{{games.Comps[1].ID}}">
            </div>
        </div>
    </div>
    </div>
    <!-- Today 
    <div class="centered-box">
        <div class="day-grouping">
            Today
        </div>
    </div>
    <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Serie A</h3>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper">
                <div class="extra">Second Half</div>
                <div class="score">
                    0-1
                </div>
                <span class="live">LIVE - '55</span>
            </div>
            <div class="side2">
                FC Bayern Munchen
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper">
                <div class="extra">First Half</div>
                <div class="score">
                    1-1
                </div>
                <span class="live">LIVE - '20</span>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>
    <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Champions League</h3>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    19:45
                </div>
            </div>
            <div class="side2">
                FC Bayern Munchen

            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    20:00
                </div>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>
-->
    <!-- Tomorrow 
    <div class="centered-box">
        <div class="day-grouping">
            Tomorrow
        </div>
    </div>
    <div class="scores-box">
        <div class="scores-box-header">
            <img src="images/logo.png" width="30" height="20">
            <h3>Champions League</h3>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                FC Barcelona
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    12:40
                </div>
            </div>
            <div class="side2">
                FC Bayern Munchen

            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
        <div class="scores-box-row clearfix">
            <div class="logo1">
                <img src="images/logo.png">
            </div>
            <div class="side1">
                Chelsea
            </div>
            <div class="status-wrapper status-future">
                <div class="score">
                    12:40
                </div>
            </div>
            <div class="side2">
                Roma
            </div>
            <div class="logo2">
                <img src="images/logo.png">
            </div>
        </div>
    </div>
    -->
    
    
</div>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<script src="src/app.js"></script>
<script src="src/controller.js"></script>
</body>
</html>
